h1 Hello #{user.userid}, Welcome Back!

p You have: #{user.friends.length} friends 
p You have created: #{user.posts.length} posts

form(action=`/home/${user.userid}`, method='POST')
    input(type="text", name="post", required, placeholder="What is on your mind?")
    br
    button(type="submit") Post

h3 #{user.userid} Posts 
ul  
    each post in posts 
        p= user.userid
        li= post.post 
        form(action=`/home/${user.userid}/posts/${post._id}/?_method=DELETE`, method='POST') 
            button delete 
        p= getTimeAgo(post.postTimestamp )
        
        //- ul 
        //-     each comment in comments
        //-         li 
        //-             p= comment.content 
        //-             p= getTimeAgo(comment.contentTimeStamp)
        form(action=`/home/${user.userid}/comment/${post._id}`, method='POST')
            input(type="text", name="comments", required, placeholder="Thoughts on this?")
            button  Comment 
