a(href=`/home/${back}`) Back Home 

if result
    h1 #{result.userid}

    form(action=`/home/${back}/search/?_method=PUT`, method='POST')
        button(type='submit', name='userid' value=`${result.userid}`) Follow Me!

    p #{result.userid} have: #{result.friends.length} friends 
    p #{result.userid} have created: #{result.posts.length} posts

    h3 #{result.userid} Posts 
    ul  
        each post in result.posts 
            li 
                p= result.userid
                p= post.post 
                p #{post.likes.length} likes
                p= getTimeAgo(post.postTimestamp )

                if post.comments.length > 0
                    ul  
                        each comment in post.comments 
                            li  
                                p= comment.user.userid  
                                p= comment.content
                                p= getTimeAgo(comment.contentTimeStamp)

                form(action=`/home/${back}/search/${post._id}`, method='POST')
                    input(type="text", name="commentNow", required, placeholder="Thoughts on this?")
                    button  Comment 
    
else 
    p No user found with said userid... Sorry! 