a(href=`/home/${currentUser}`) Back
h1 TIMELINE
ul 
    each timeline in timelines
        each post in timeline.posts
            li 
                p #{timeline.userid} 
                p #{post.post}
                p= getTimeAgo(post.postTimestamp)

                //- check if there are comments for this post
                if post.comments.length
                    ul 
                        each comment in post.comments 
                            li 
                                p #{comment.user.userid}
                                p #{comment.content}
                                p= getTimeAgo(comment.contentTimeStamp)
                                form(action=`/home/${currentUser}/timeline/${comment._id}/?_method=DELETE`, method='POST') 
                                    button delete comment 
                            
                form(action=`/home/${currentUser}/timeline/${post._id}`, method='POST')
                    input(type="text", name="commentNow", required, placeholder="Thoughts on this?")
                    button  Comment 
